@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body,html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}


nav ul li a{
    text-decoration: none;
    color: #0a0b5c;
}


nav ul li{
    list-style-type: none;
}

nav .logo h4{
    color: #0c0eff;
    font-size: 20px;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

nav .logo i{
    font-size: 20px;
}

nav{
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}


nav button{
    margin-top: 10px;
}

nav button{
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #0a0b5c;
    cursor: pointer;
    transition: all 0.5s ease;
}



nav button:hover{
    background-color: #0a0b5c;
    color: #fff;
}

nav{
    background-color: #d5e4ff;
    height: 60px;
}

.main{
    flex: 1;
}

.main .header{
    margin-top: 20px;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .header .search{
    background-color: #d5e4ff;
    width: 50%;
    padding: 10px 8px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.main .header .search input{
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}

.main .header .search input::placeholder{
    color: #0a0b5c;
}

.header .search button{
    background-color: transparent;
    color: #0a0b5c;
    border: none;
}

.main .header .buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .header .buttons button{
    padding: 10px;
    background-color: #0a0b5c;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.main .header .buttons button i{
    font-size: 17px;
}

.main .header .buttons button:hover{
    background-color: #b3ccff;
    color: #0a0b5c;
}

.main .maincontent .separator h2{
    margin-top: 20px;
    padding: 0 60px;
    color: #0a0b5c;
}

.main .maincontent .assets{
    padding: 0 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}


.main .maincontent .assets .asset{
    background-color: #fff;
    border: 1px solid #0a0b5c;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.main .maincontent .assets .asset:hover {
    background-color: #0a0b5c;
    color: #b3ccff;
}

.main .maincontent .assets .asset .bot p{
    margin-top: 7px;
}


.main .maincontent .assets .asset .top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .maincontent .assets .bot h1{
    font-size: 16px;
    margin-bottom: 7px;
}

.main .maincontent .assets .asset .top img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;

}

.main .items {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 60px;
}

.containeritem {
  width: 180px;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 1px solid #0a0b5c;
}

.containeritem:hover {
  background-color: #bdbdbd;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.icon i {
  font-size: 20px;
  color: #fff;
}


.paid .icon {
  background-color: #5b8eff;
}

.visit .icon {
  background-color: #0000ff;
}

.search .icon {
  background-color: #5676ff;
}

.sales .icon {
  background-color: #0000ff;
}

.users .icon{
    background-color: #10169f;
}

.notifications .icon{
  background-color: #10169f;  
}

.informations h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.informations p {
  margin: 0;
  font-size: 14px;
  color: #0a0b5c;
}

.main .maincontent .text{
    margin-top: 20px;
    padding: 0px 60px;
    margin-bottom: 10px;
}

.main .maincontent .text span{
    font-weight: 700;
    color: #0a0b5c;
}

footer{
    background-color: #b3ccff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .links a{
    color: #0a0b5c;
    text-decoration: none;
}

