* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 80px; 
  margin-top: 20px;
}

nav .name {
  font-size: 20px;
  color: #0c0eff;
}


nav .links > a:not(:last-child) {
  margin-right: 20px;
  color: #0a0b5c;
}

nav .btns .login,
nav .btns .signup {
  padding: 8px 14px;
}

.login {
  background-color: #10169f;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login:hover {
  background-color: #0a0b5c;
}

.signup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.signup:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

header {
  padding: 20px 80px; 
  height: calc(100vh - 30px); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  width: 500px;
}

header .search {
  display: flex;
  background-color: #d5e4ff;
  padding: 10px 15px;
  width: 40%;
  border-radius: 10px;
  margin-bottom: 15px;
}

header .search input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
}

header .search input::placeholder {
  color: #808080;
}

header .search i {
  margin-right: 6px;
  color: #0a0b5c;
}

header .right h1 span {
  font-weight: 700;
  color: #5676ff;
}

header .right p {
  font-size: 14px;
  color: #000;
}

header .shop {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 13px;
  background-color: #5676ff;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 25px;
  transition: all 0.3s ease;
}


header .shop span {
  margin: 0;
  padding: 0;
}

header .shop i {
  background-color: #fff;
  text-align: center;
  justify-content: center;
  padding: 8px;
  font-size: 16px;
  border-radius: 50%;
  color: #000;
}

header .shop:hover {
  background-color: #0609cd;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

main .separator {
  font-weight: 700;
  font-size: 25px;
  color: #006c72;
  margin-bottom: 15px;
}

.card {
  background-color: #00343a;
  padding: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.card img {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

main .card .desc {
  margin-top: 8px;
  color: grey;
}

.container {
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.infos {
  background-color: #d5e4ff;
  border-radius: 10px;
  padding: 25px 20px;
  margin-top: 20px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.infos:hover {
  background-color: #c0d8ff;
}

.infos .header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.infos .header i {
  font-size: 20px;
  color: #000;
}

.infos .header h5,
.infos .header i {
  font-weight: 500;
  font-size: 22px;
  color: #10169f;
}

.infos p {
  font-size: 17px;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  color: #00343a;
  margin-left: 20px;
}

footer .conclusion {
  background-color: #002147;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

footer .conclusion .links {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

footer .conclusion .links a {
  color: #fff;
  font-size: 20px;
}

footer .conclusion p {
  font-size: 15px;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .title {
    margin-top: 20px;
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 20px;
  }

  .infos {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
  }
}
